{%  extends 'authenticateApp/base.html' %}

{% block content %}

  <div class="col-md-6 offset-md-3">
    <div class="jumbotron ">
    <h2 class="text-center">Edit Profile</h2>
     <hr color=”green">
          <form method="POST" action= "{% url 'edit_profile' %}">
            {% csrf_token %}

            {% if form.errors %}

                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                  <strong> <p>Your Form Has Errors...</p></strong>

                  </div>
            {% endif %}

            {{ form.as_p }}

            <input type="submit" value="Edit Profile" class="btn btn-secondary">
            <br>
            <p><small><a  href="{%url 'change_password'%}">Click Here </a>To Change Your Password</small></p>
        </form>
      </div>
      </div>






{% endblock %}
